
.about-us {
    max-width:100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }
  
.about-us p {
  font-size: 1.2em;
  line-height: 1.5;
  max-width: 800px;
  margin: auto;
}
  
  .about-us ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 1.2em;
  }
  
  .about-us li {
    margin-bottom: 10px;
  }

  .help{
    position: fixed;
    top: 50px;
    right: 1px;
    z-index: 9999;
  }

  .title {
    margin-top: 60px;
    text-align: center;
  }

  