.request-container {
  margin: 0 auto;
  padding: 20px;
}

.submit-button {
  display: block;
  font-size: 1.2rem;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.help{
  position: fixed;
  top: 50px;
  right: 1px;
  z-index: 9999;
}